<div class="order-actions" dir="rtl">
  <ng-container *ngIf="hasEmptyProduct && !isAddingOrder; else sendOrder">
    <button class="action-button products-button" type="button" (click)="saveNewProductsRequested.emit()"
      *ngIf="isOrderComplete" [disabled]="isLoading">
      حفظ كميات المنتجات الجديدة
    </button>
  </ng-container>

  <ng-template #sendOrder>
    <button class="action-button send-button" type="button" (click)="sendOrderRequested.emit()"
      *ngIf="isOrderComplete" [disabled]="isLoading">
      إرسال الطلب
    </button>
  </ng-template>

  <button class="action-button update-button" type="button" *ngIf="isPreSent && hasUpdates"
    (click)="saveUpdatesRequested.emit()" [disabled]="!canSaveUpdates">
    حفظ التعديلات
  </button>

  <button class="action-button draft-button" type="button" *ngIf="canSaveDraft && !isDraftSaved"
    (click)="saveDraftRequested.emit()" [disabled]="isLoading">
    حفظ كمسودة
  </button>
</div>
