<!-- Loading Overlay -->
<div class="loading-overlay" *ngIf="isLoading">
    <div class="spinner"></div>
</div>
<a (click)="logout()" class="power-off-icon" style="color: red;">
    <i class="fas fa-power-off"></i>
</a>
<h6>
    {{version}}
</h6>

<div class="dropdown-container mb-3">
    <label for="options" class="dropdown-label me-2">Select Type:</label>
    <select id="options" [(ngModel)]="selectedType" class="dropdown form-select" (ngModelChange)="onSelectTypeChange()">
        <option *ngFor="let item of types" [ngValue]="item">
            {{ item.name }}
        </option>
    </select>
</div>
<!-- Date Selection Buttons -->
<div *ngFor="let item of preOrders; let i = index">
    <button (click)="onSelectDate(item)" style="width: 100%;"
        [class.selected]="selectedDate?.seconds === item.createdAt?.seconds">
        {{item.createdAt?.toDate() | date:'mediumDate'}}
    </button>
</div>

<!-- <button *ngIf="selectedType && selectedType.id == 'WbAP06wLDRvZFTYUtkjU'" (click)="exportPdf()"> Export Pdf</button> -->
<button *ngIf="selectedDate" (click)="exportPdf()"> Export Pdf</button>


<!-- <h3 style="text-align: center;">الايام المسموحه لاضافة طلبات</h3> -->
<div *ngFor="let item of datesToAdd; let i = index">
    <button (click)="addNewOrder(item.createdAt)" style="width: 100%;background-color: brown;"
        [class.selected]="selectedDate?.seconds === item.createdAt?.seconds">
        {{item.createdAt?.toDate() | date:'mediumDate'}}
        <i class="fas fa-plus" style="margin-left: 10px;"></i>

    </button>
</div>
<!-- Add New Order Button -->
<!-- <button *ngIf="isToAddMode === false && ifCurrentDateInPreOrders1 === false " (click)="addNewOrder()"
    style="width: 100%;">
    Add New Order
</button> -->

<!-- Selected Date Info -->
<div *ngIf="selectedDate" style="text-align: center;">
    <hr>
    {{selectedDate.toDate() | date:'mediumDate'}}
    <!-- {{selectedDate | date:'mediumDate'}} -->
    <div *ngIf="branch">
        {{branch.data.name}}
    </div>
</div>

<!-- <button (click)="exportToPDF()">Export to PDF</button> -->



<ng-container *ngIf="selectedDate && selectedType.id != '5'">
    <div style="background-color: red; color: white; text-align: center;"
        *ngIf="checkIfHasEmptyOrder() && isToAddMode === false">يوجد منتجات جديده
        يجب اضافة كميتها
    </div>


    <!-- <ng-container *ngIf="selectedDate"> -->

    <div class="table-container">
        <div class="table fixed-header">
            <!-- Orders Table -->
            <table *ngIf="branch" class="styled-table">
                <thead>
                    <tr vz class="f-h">
                        <th>الاصناف</th>
                        <th style="width: 28px;">
                            <div>الكمية</div>
                            <div>المتوفرة</div>
                        </th>
                        <th>الوحدة</th>
                        <th style="width: 28px;" *ngIf="selectedType && selectedType.id != 'WbAP06wLDRvZFTYUtkjU'">
                            <div>الكمية</div>
                            <div>المطلوبة</div>
                        </th>
                        <th *ngIf="selectedType && selectedType.id != 'WbAP06wLDRvZFTYUtkjU'">الوحدة</th>
                        <th *ngIf="isPreSent === true && selectedType && selectedType.id != 'WbAP06wLDRvZFTYUtkjU'">حالة
                            الاستلام
                            <span *ngIf="selectedType.id == 'Ikt6pyFoTwvwn7GBIPvv'">بالكيلو</span>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of combinedData; let i = index"
                        [style.background-color]="i % 2 === 0 ? '#f8f9fa' : '#e9ecef'"
                        [style.border-bottom]="'1px solid #dee2e6'">
                        <td style="font-weight: bold; font-size: 13px;">{{ item.name }}</td>

                        <td>
                            <input (input)="onQntFChange(combinedData[i])" *ngIf="item.id === -1" #qntFInput="ngModel"
                                [class.alert-red]="qntFInput.invalid && qntFInput.touched" class="sticky-input"
                                [(ngModel)]="combinedData[i].qntF" type="number" required>
                            <div *ngIf="item.id !== -1">{{ item.qntF }}</div>
                        </td>

                        <td>
                            {{item.unitF}}
                        </td>

                        <td *ngIf="selectedType && selectedType.id != 'WbAP06wLDRvZFTYUtkjU'">
                            <input (input)="onQntChange(i,combinedData[i])" *ngIf="item.id === -1" #qntInput="ngModel"
                                [class.alert-red]="qntInput.invalid && qntInput.touched" class="sticky-input"
                                [(ngModel)]="combinedData[i].qnt" type="number" required>
                            <div *ngIf="item.id !== -1">{{ item.qnt }}</div>
                        </td>

                        <td *ngIf="selectedType.id != 'WbAP06wLDRvZFTYUtkjU'">
                            {{item.unit}}
                        </td>

                        <td
                            *ngIf="isPreSent === true && selectedType && selectedType.id != 'WbAP06wLDRvZFTYUtkjU' && selectedType.id != 'Ikt6pyFoTwvwn7GBIPvv' ">
                            <span *ngIf="!isItemInAdd(item)" class="status-dropdown-container">
                                <label class="status-dropdown-label">
                                    <select
                                        [disabled]="isChangeStatus() == false || isOn === false || selectedPreOrder.status == '1' || checkIfHasEmptyOrder() === true"
                                        [(ngModel)]="item.status" [style.background-color]="getStatusColor(item.status)"
                                        (ngModelChange)="onStatusChange(item)" class="status-dropdown" required>

                                        <option value="1">تم استلامها</option>
                                        <option value="2">لم يتم استلامها</option>
                                        <option value="3">كمية غير مطابقة</option>
                                        <option value="4">غير مطلوبة</option>
                                    </select>
                                </label>
                            </span>
                            <input style="width: 50px;margin: 5px;" type="number" *ngIf="item.status == '3'"
                                #qntInput="ngModel" [class.alert-red]="qntInput.invalid && qntInput.touched"
                                [(ngModel)]="combinedData[i].qntNotRequirement"
                                [disabled]="selectedPreOrder.status == '1'"
                                (input)="onInputQ($event, i,combinedData[i])" required>
                        </td>
                        <td *ngIf="isPreSent === true && selectedType && selectedType.id == 'Ikt6pyFoTwvwn7GBIPvv'">
                            <span *ngIf="!isItemInAdd(item)" class="status-dropdown-container">
                                <label class="status-dropdown-label">
                                    <select
                                        [disabled]="isChangeStatus() == false || isOn === false || selectedPreOrder.status == '1' || checkIfHasEmptyOrder() === true"
                                        [(ngModel)]="item.status" [style.background-color]="getStatusColor(item.status)"
                                        (ngModelChange)="onStatusChange(item)" class="status-dropdown" required>

                                        <option value="1">تم استلامها</option>
                                        <option value="2">لم يتم استلامها</option>
                                    </select>
                                </label>
                            </span>
                            <input style="width: 50px;margin: 5px;" type="number" *ngIf="item.status == '1'"
                                #qntInput="ngModel" [class.alert-red]="qntInput.invalid && qntInput.touched"
                                [(ngModel)]="combinedData[i].qntNotRequirement"
                                [disabled]="selectedPreOrder.status == '1'"
                                (input)="onInputQ($event, i,combinedData[i])" required>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <!-- Action Buttons -->
    <!-- <button style="width: 100%;" *ngIf="isFullFilled()" [disabled]="isLoading"
    (click)="checkIfHasEmptyOrder() &&  isToAddMode === false ? addOrders(true) : addOrders()">
    <ng-container *ngIf="checkIfHasEmptyOrder() &&  isToAddMode === false; else sendOrderBlock">
        <span>حفظ كمية المنتجات الجديدة</span>
    </ng-container>

    <ng-template #sendOrderBlock>
        <span>Send Order</span>
    </ng-template>
</button> -->

    <!-- Action Buttons -->

    <ng-container *ngIf="checkIfHasEmptyOrder() &&  isToAddMode === false; else sendOrderBlock">
        <button (click)="addOrders(true)" style="width: 100%;" *ngIf="isFullFilled()" [disabled]="isLoading">
            <span>حفظ كمية المنتجات الجديدة</span>
        </button>
    </ng-container>

    <ng-template #sendOrderBlock>
        <button (click)="addOrders()" style="width: 100%;" *ngIf="isFullFilled()" [disabled]="isLoading">
            <span>Send Order</span>
        </button>
    </ng-template>

    <button *ngIf="isPreSent === true && ordersToUpdate.length > 0" (click)="saveUpdates()"
        [disabled]="isUpdateEnabled() == false">
        Save Updates
    </button>

</ng-container>

<ng-container *ngIf="selectedType && selectedType.id == '5' && dateToAddInDaily">

    <div style="text-align: center;"> {{dateToAddInDaily | date:'mediumDate'}}</div>
    <!-- <button (click)="getDailyReportsDates()">date</button> -->
    <div class=" table-container">
        <div class="table fixed-header">
            <table *ngIf="branch" class="styled-table">
                <thead>
                    <tr vz class="f-h">
                        <th>الاصناف</th>
                        <th style="width: 28px;">
                            الموجودة
                        </th>
                        <th>المستلم</th>
                        <th>الجرد</th>
                        <th>مبيعات</th>
                        <th>وجبة موظف</th>
                        <th>تحويل % </th>
                        <th>التالف</th>
                        <th>المتبقي</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of combinedData; let i = index"
                        [style.background-color]="i % 2 === 0 ? '#f8f9fa' : '#e9ecef'"
                        [style.border-bottom]="'1px solid #dee2e6'">
                        <td style="font-weight: bold; font-size: 13px;">{{ item.productName }}</td>

                        <td>
                            <input
                                [disabled]="isPositiveNumber(combinedData[i].openingStockQnt) && combinedData[i].openingStockId != -1"
                                (input)="onQuantityChange('openingStockQnt', item, i)"
                                [(ngModel)]="combinedData[i].openingStockQnt" type="number" required>
                        </td>
                        <td>
                            <input [disabled]="combinedData[i].openingStockId == -1" [(ngModel)]="item.recieved"
                                (ngModelChange)="onQuantityChange('recieved', item, i)" type="number" required>

                        </td>
                        <td>
                            <input [disabled]="combinedData[i].openingStockId == -1" (input)="onQuantityChange('add', item, i)" [(ngModel)]="combinedData[i].add"
                                type="number" required>

                        </td>
                        <td>
                            <input [disabled]="combinedData[i].openingStockId == -1" (input)="onQuantityChange('sales', item, i)" [(ngModel)]="combinedData[i].sales"
                                type="number" required>

                        </td>
                        <td>
                            <input [disabled]="combinedData[i].openingStockId == -1" (input)="onQuantityChange('staffMeal', item, i)"
                                [(ngModel)]="combinedData[i].staffMeal" type="number" required>

                        </td>
                        <td>
                            <input [disabled]="combinedData[i].openingStockId == -1" (input)="onQuantityChange('transfer', item, i)"
                                [(ngModel)]="combinedData[i].transfer" type="number" required>

                        </td>
                        <td>
                            <input [disabled]="combinedData[i].openingStockId == -1" (input)="onQuantityChange('dameged', item, i)" [(ngModel)]="combinedData[i].dameged"
                                type="number" required>

                        </td>
                        <td>
                            <!-- {{calculateClosingStock(combinedData[i])}} -->
                            {{ combinedData[i].closeStock}}
                        </td>



                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button *ngIf="dateToAddInDaily && ifThereisEmptyValue() == false" (click)="saveDaily()">Save</button>


</ng-container>