<!-- h1 class="table-title">Styled Angular Table</h1> -->

<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner"></div>
</div>

<div *ngIf="isAdmin === true">
  <button (click)="logout()">
    logout
  </button>
  <button *ngIf="ifHaveChanges()" (click)="saveChanges()">
    Save Changes
  </button>

  <!-- Date Selection Buttons -->
  <div *ngFor="let item of preOrders; let i = index">
    <button (click)="onSelectDate(item.createdAt)" style="width: -webkit-fill-available;"
      [class.selected]="selectedDate?.seconds === item.createdAt?.seconds">
      {{item.createdAt?.toDate() | date:'mediumDate'}} ({{item.count}})
    </button>
  </div>


  <div *ngIf="selectedDate" style="text-align: center;">
    <hr>
    {{selectedDate | date:'mediumDate'}}
  </div>
  <table class="styled-table">
    <thead>



      <tr>
        <th>SI NO</th>
        <th>الاصناف</th>
        <!-- <td>{{ i + 1 }}</td>  -->
        <th *ngFor="let row of barnches; let i = index">
          {{ row.name }}
        </th>
      </tr>

      <!---->


    </thead>
    <tbody>
      <tr *ngFor="let row of data; let i = index">
        <td (click)="deleteProduct(row.id)">
          <!-- <i class="fa fa-trash" aria-hidden="true" title="Delete" style="cursor: pointer; color: red;"
            ></i> -->

          {{ i + 1 }}


        </td>
        <td> <input style="width: 100px;" type="text" [value]="row.name" [(ngModel)]="data[i].name"
            (ngModelChange)="onProductNameChange(i, data[i].id,data[i].name)">

        </td>

        <!-- Loop over barnches -->
        <ng-container *ngFor="let barnch of barnches">
          <!-- Loop over barnchesOrders -->
          <ng-container *ngFor="let order of barnchesOrders; let i1 = index">
            <!-- Conditional check for matching branch and product -->
            <td *ngIf="barnch.id === order.branchId && row.id === order.productId;">
              <div>
                <input style="display: inline;" style="width: 50px;" type="text" [value]="order.qnt"
                  [(ngModel)]="barnchesOrders[i1].qnt" (ngModelChange)="onOrderChange(order,$event)">
                <!-- <span *ngIf="order.id" style="display: inline;">
                  <label style="display: inline-block;">
                    <input type="radio" name="status" value="received" id="received" required>
                    تمت
                  </label>
  
                  <label style="display: inline-block;">
                    <input type="radio" name="status" value="notReceived" id="notReceived" required>
                    لم تتم
                  </label>
                </span> -->
                <span *ngIf="order.id" class="status-dropdown-container">
                  <label class="status-dropdown-label">
                    <select [(ngModel)]="order.status" (ngModelChange)="onStatusChange(order)" class="status-dropdown"
                      required>
                      <option value="1">تم استلامها</option>
                      <option value="2">لم يتم استلامها</option>
                    </select>
                  </label>
                </span>
              </div>
            </td>
          </ng-container>
        </ng-container>
      </tr>
      <tr *ngFor="let row of productsToAdd; let i = index">
        <td>new id</td>
        <td> <input type="text" [value]="row.name" [(ngModel)]="productsToAdd[i].name"> </td>
      </tr>
      <tr (click)="addToProductsToAdd()">
        <td>

        </td>
        <td>
          +
        </td>
      </tr>
    </tbody>
  </table>
</div>