<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner"></div>
</div>

<div *ngIf="isAdmin">
  <div class="admin-controls">
    <button class="btn logout-btn" (click)="logout()">
      Logout
    </button>
    <button *ngIf="hasChanges()" class="btn save-btn" (click)="saveChanges()">
      Save Changes
    </button>
  </div>

  <div class="container">
    <div class="dropdown-container">
      <label for="options" class="dropdown-label">Select Option:</label>
      <select id="options" [(ngModel)]="selectedOption" (ngModelChange)="onSelectChange($event)" class="dropdown">
        <option value="ryad">الرياض</option>
        <option value="other">خارج الرياض</option>
      </select>
    </div>
  </div>


  <!-- <div>
    <select [(ngModel)]="selectedOption" (ngModelChange)="onSelectChange($event)">
      <option value="ryad">الرياض</option>
      <option value="other">خارج الرياض</option>
    </select>
  </div> -->
  <!-- Date Selection -->
  <div class="date-selection">
    <h3>Select Order Date</h3>
    <div class="date-buttons">
      <button *ngFor="let item of preOrders" class="btn date-btn" (click)="onSelectDate(item.createdAt)"
        [class.selected]="selectedDate?.getTime() === item.createdAt.toDate().getTime()">
        {{item.createdAt.toDate() | date:'mediumDate'}} ({{item.count}})
      </button>
    </div>
  </div>

  <div *ngIf="selectedDate" class="selected-date">
    <hr>
    <h2>{{selectedDate | date:'fullDate'}}</h2>
  </div>
  <button class="btn logout-btn" (click)="exportToExcel()">
    Export
  </button>

  <!-- Products Table -->
  <div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th style="background-color: rgb(181, 0, 0);" *ngFor="let branch of branches" colspan="3">
            <!-- Each branch takes 3 columns -->
            {{ branch.name }}
          </th>
        </tr>
        <tr class="fixed-column">
          <th>#</th>
          <th class="fixed-column name-column" >Product Name</th>
          <th>Requested Unit</th>
          <th>Remain Unit</th>
          <ng-container *ngFor="let branch of branches">
            <th>Requested Qnt</th>
            <th>Remain Qnt</th>
            <th>Status</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <!-- Existing Products -->
        <tr  class="fixed-column id-column" *ngFor="let product of data; let i = index" >
          <td (click)="deleteProduct(product.id)" class="delete-cell">
            {{ i + 1 }}
          </td>
          <td class="fixed-column name-column" >
            <input type="text" [value]="product.name" [(ngModel)]="product.name"
              (ngModelChange)="onProductNameChange(i, product)" class="product-input">
          </td>
          <td class="fixed-column unit-column">
            <input type="text" [value]="product.unit" [(ngModel)]="product.unit"
              (ngModelChange)="onProductNameChange(i, product)" class="unit-input">
          </td>
          <td class="fixed-column unitf-column">
            <input type="text" [value]="product.unitF" [(ngModel)]="product.unitF"
              (ngModelChange)="onProductNameChange(i, product)" class="unit-input">
          </td>

          <!-- Quantity and Status for each branch -->
          <ng-container *ngFor="let branch of branches">
            <td class="branch-cell">
              <div *ngFor="let order of orders;let i1 = index">
                <div *ngIf="order.branchId === branch.id && order.productId === product.id ">
                  <input type="number" min="0" [value]="orders[i1].qnt" [(ngModel)]="orders[i1].qnt"
                    (ngModelChange)="onOrderChange(orders[i1], $event)" class="quantity-input">
                </div>
              </div>
            </td>
            <td class="branch-cell">
              <div *ngFor="let order of orders;let i2 = index">
                <div *ngIf="order.branchId === branch.id && order.productId === product.id">
                  <input type="number" min="0" [value]="orders[i2].qntF" [(ngModel)]="orders[i2].qntF"
                    (ngModelChange)="onOrderChange(orders[i2], $event)" class="quantity-input">
                </div>
              </div>
            </td>
            <td class="branch-cell">
              <div *ngFor="let order of orders">
                <div *ngIf="order.branchId === branch.id && order.productId === product.id && order.id">
                  <select [(ngModel)]="order.status" (ngModelChange)="onStatusChange(order)" class="status-select">
                    <option value="1">Received</option>
                    <option value="2">Not Received</option>
                  </select>
                </div>
              </div>
            </td>
          </ng-container>
        </tr>

        <!-- New Products to Add -->
        <tr *ngFor="let newProduct of productsToAdd; let i = index">
          <td>New</td>
          <td>
            <input style="width: 100px;" type="text" [(ngModel)]="productsToAdd[i].name" placeholder="Product name" class="product-input">
          </td>
          <td>
            <input type="text" [(ngModel)]="productsToAdd[i].unit" placeholder="Unit" class="unit-input">
          </td>
          <td>
            <input type="text" [(ngModel)]="productsToAdd[i].unitF" placeholder="UnitF" class="unit-input">
          </td>
          <td *ngFor="let branch of branches" colspan="3" class="empty-cell"></td>
        </tr>

        <!-- Add New Product Row -->
        <tr (click)="addToProductsToAdd()" class="add-row">
          <td colspan="4">
            <button class="btn date-btn">
              + Add New Product
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>